@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand: #07938F;
  --black:#2E3557;
  --half-white:#e3edf0;
  --light-skyblue:#c6eced;
  --light-gray:#f4f5f6;
  --skyblue:#d0e3e7;
  --white:#fafafc;
  --grey: #F4F5F6;
  --border-grey: #D6D8E0;
  --dark-green:#014846;
  --text-color: #777E90;
  --modal-bg: #F4F7FE;
  --light-sky: #BED5FA;
  --sky-color: #3B82F6;
  --lightest-sky: #F2F7FE;
}

body{
  font-family: "PT Sans", sans-serif !important;
}
.ant-typography{
  font-family: "PT Sans", sans-serif !important;
}
.container {
  max-width: 1320px !important;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

.h-100 {
  height: 100% !important;
}
.w-100{
  width: 100% !important;
}

/* font sizes   */
.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}
.fs-19{
  font-size: 19px !important;
}
.fs-20{
  font-size: 20px !important;
}

/* font wieght  */
.fw-normal {
  font-weight: normal !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.main-heading{
  font-size: 58px !important;
  font-weight: 800 !important;
}
/* alignment  */
.text-center {
  text-align: center !important;
}
.text-justify{
  text-align: justify !important;
}
/* colors  */
.text-black{
  color: var(--black) !important;
}
.text-brand{
  color: var(--brand) !important;
}
.text-white{
  color: #fff !important;
}
.text-grey{
  color: #4E567A !important;
}
.subtitle-color{
  color: var(--text-color) !important;
}
/* bg colors  */
.bg-transparent {
  background-color: transparent !important;
}
.bg-brand{
  background-color: var(--brand);
}
.bg-lightgray{
  background-color: var(--light-gray) !important;
}
.bg-skyblue{
  background-color: var(--skyblue);
}
.bg-grey{
  background-color: var(--grey) !important;
}
.bg-white{
  background-color: var(--white) !important;
}
.bg-pricing{
  background-color: #014846;
}
/* buttons  */
.btn{
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 13px;
    border: 1px solid var(--border-grey) !important;
    height: auto !important;
}
.btn:hover{
  background-color: var(--brand) !important;
  color: var(--white) !important;
}
/* margin  */
.my-3{
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-2{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.m-0 {
  margin: 0px !important;
}

.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 1.5rem !important;
}

.mt-3 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 2.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-120 {
  margin-top: 120px !important;
}
 .mb-1 {
    margin-bottom: .3rem !important;
  }
  .mb-2 {
    margin-bottom: 1rem !important;
  }
/* padding  */
.common-padding {
  padding: 60px 50px !important;
}

.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 1.5rem !important;
}
.nowrap{
    white-space: nowrap !important;
}
/* border  */
.border-0 {
  border: 0px !important;
}
.border-grey{
    border: 1px solid var(--border-grey) !important;
}


.border-radius-12 {
  border-radius: 12px !important;
}

.border-radius-10 {
  border-radius: 8px !important;
}

.custom-text {
  padding: 5px 20px !important;
  border-radius: 6px;
  width: fit-content;
  background-color: var(--half-white);
  font-size: 14px !important;
  color: var(--brand);
}
.bg-text{
  padding: 3px 15px !important;
  background-color: var(--white) !important;
  width: fit-content;
  border-radius: 12px;
}
/* homepage css  */
.hero-section{
  padding: 130px 0px 0px 0px;
 background: linear-gradient(to bottom, #c6eced, #ebf6f7);
}
.main-section{
  padding: 130px 0px 50px 0px;
 background: linear-gradient(to bottom, #c6eced, #ebf6f7);
}
.main-flex{
  margin: auto;
  text-align: center;
  max-width: 100%;
}

.w-700{
  width: 700px;
  max-width: 100%;
  margin: auto;
}

.position-relative{
  position: relative !important;
}
.pricingcard-badge{
  background-color: var(--brand);
  width: fit-content;
  padding: 5px 10px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: var(--white);
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.herocard {
  position: relative !important;
  border: 0.5px solid rgba(255, 255, 255, 0.1) !important;
}

.herocard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 2px;
  /* thickness */
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      /* transparent left */
      rgba(255, 255, 0, 0.2) 25%,
      /* light yellow fade in */
      rgb(255 204 23 / 97%) 50%,
      /* solid yellow center */
      rgba(255, 255, 0, 0.2) 75%,
      /* light yellow fade out */
      rgba(255, 255, 255, 0) 100%
      /* transparent right */
    );

}

.segment {
  padding: 10px !important;
  background-color: var(--white) !important;
}

.segment .ant-segmented-item-label {
  padding: 4px 32px !important;
}

.ant-segmented-item-selected {
  background-color: var(--brand) !important;
  color: #fff !important;
  transition: 0.2s all !important;
}

.segment2 {
  padding: 5px !important;
  background-color: var(--white) !important;
}

.segment2 .ant-segmented-item-label {
  padding: 2px 16px !important;
}

.ant-segmented-item-selected {
  background-color: var(--brand) !important;
  color: #fff !important;
  transition: 0.2s all !important;
}


.collapse-fq .panel{
    border: 1px solid var(--border-grey) !important;
    padding: 12px;
    /* background-color: var(--white) !important; */
    margin-bottom: 10px;
    border-radius: 12px !important;
}

.collapse-fq .panel-active{
    background-color: var(--brand) !important;
    color: #fff !important;
}
.collapse-fq .ant-collapse-content-box{
    margin-left: 35px !important;
}
.ant-collapse-content-box .ant-typography{
  color: #fff !important;
}
.footer{
  padding: 80px 0px 20px 0px;
  background-color: var(--dark-green) !important;
}
.lastlink{
    justify-content: end;
}
@media (max-width: 991px){
    .lastlink{
        justify-content: center;
    }
    .quote{
        justify-content: center;
    }
    .common-padding {
  padding: 40px 10px !important;
}
}

/* login css  */
.login-left-side {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  padding: 20px;
}

.form-inner {
  max-width: 500px;
  width: 100%;
  
}

.logo{
  display: flex;
  justify-content: center;
}
.logo img {
  height: 40px;
  margin-bottom: 20px;
}
.login-right-side{
   padding: 130px 0px 0px 0px;
 background: linear-gradient(to bottom, #c6eced, #ebf6f7);
}

.shadow{
  box-shadow: 0px 1px 4px 0px #8592AD1A;
}

.border-brand{
  border-color: var(--brand) !important;
}

.modal-cs .ant-modal-content{
  background-color: var(--modal-bg) !important;
}

.pill-square{
  display: inline-flex !important;
  border: 1px solid var(--light-sky) !important;
  background-color: var(--lightest-sky) !important;
  padding: 6px 8px;
  border-radius: 5px;
}

.text-sky{
  color: var(--sky-color) !important;
}
