.custom-input .ant-input-affix-wrapper{
    padding: 0px 5px !important;
}

.custom-input .ant-input {
    padding: 8px !important;
}

.filtercs .ant-input-affix-wrapper{
    border: 0 !important;
    padding: 5px !important;
}

.filtercs .ant-input-affix-wrapper input::placeholder{
    color: var(--black-color) !important;
}

.custom-input1 .ant-input-affix-wrapper{
    padding: 6px !important;
}

.custom-input1{
    margin-bottom: 0px !important;
}


.custom-select .ant-select-single{
    height: 40px !important;
}

.select{
    height: 40px !important;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    margin-inline-end: 0px !important;
    margin-inline-start: 5px !important;
    color: var(--inactive) !important;
}

.ant-form-item .ant-form-item-label >label::after {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.ant-form-item .ant-form-item-label >label {
    flex-direction: row-reverse !important;
}

.custom-input .ant-picker {
    padding: 8px !important;
}

.without-timeinput{
    padding: 8px !important;
}

.custom-input,
.custom-select{
    margin-bottom: 12px !important;
}
